# Pandas Exercises

Use the two csv files in this folder to complete the tasks in bold below.

**Import pandas and read in the banklist.csv file into a dataframe called banks.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
banks = pd.read_csv('banklist.csv')

**Show the head of the dataframe**

In [16]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

**What are the column names?**

In [30]:
banks.columns

**How many States (ST) are represented in this data set?**

In [31]:
# CODE HERE

**Get a list or array of all the states in the data set.**

In [32]:
# CODE HERE

**What are the top 5 states with the most failed banks?**

In [33]:
# CODE HERE

**What are the top 5 acquiring institutions?**

In [34]:
# CODE HERE

**How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [35]:
# CODE HERE

**What is the most common city in California for a bank to fail in?**

In [36]:
# CODE HERE

**How many failed banks don't have the word "Bank" in their name?**

In [37]:
# CODE HERE

**How many bank names start with the letter 's' ?**

In [38]:
# CODE HERE

**How many CERT values are above 20000 ?**

In [39]:
# CODE HERE

**How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [40]:
# CODE HERE

**How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!**

In [41]:
# CODE HERE